# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
service/build
*.local
*.env
*.env.development
*.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Large local DLL artifacts
service/webrtc/.venv/Lib/site-packages/torch/lib/torch_cpu.dll
service/webrtc/.venv/Lib/site-packages/llvmlite/binding/llvmlite.dll
